html,body {
    height: 100%;
    width: 100%;
}

h1 {color: red;}
h2{color: blue;}

div {   /* tutti i div */
    width: 320px;
    padding: 10px 20px 30px 40px;
    border: 10px solid green;
    margin: 10px 20px 30px 40px;
  

}

div.a{ /* div con classe a potrei anche creare invece di div.a SOLO .a in questo caso si applica
    a tutti gli elementi che contengono la classe a e non solo ai DIV */
    width: 320px;
    padding: 10px 20px 30px 40px;
    border: 10px solid rgb(85, 0, 128);
    margin: 10px 20px 30px 40px;
  

}

.b{ 
    width: 320px;
    padding: 10px 20px 30px 40px;
    border: 10px solid rgb(255, 0, 0);
    margin: 10px 20px 30px 40px;
  
}