<!DOCTYPE html>
<html>
<head>
  <title>Successo</title>
</head>
<body>
  <h1>Success</h1>
    <p>Il tuo modulo è stato inviato con successo!</p>
  <p>Nome: <%= nome %></p>
  <p>Email: <%= email %></p>
</body>
</html>
